@model List<WebApplication2.Models.user>

@{
    ViewBag.Title = "AdminPanelUser";
}
<h2>AdminPanelUser</h2>


    <h4>user</h4>
<div class="table">
    <table border="1" class=" table-bordered">
        <tr>
            <th>
                <b>Email</b>
            </th>
            <th>
                <b>Username</b>
            </th>
            <th>
                <b>First Name</b>
            </th>
            <th>
                <b>Last Name</b>
            </th>
            <th>
                <b>Password</b>
            </th>
            <th>
                <b>Question</b>
            </th>
            <th>
                <b>Answer</b>
            </th>
            <th>
                <b>User Type</b>
            </th>
            <th>
                <b>Edit</b>
            </th>
            <th>
                <b>Image</b>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.email
                </td>
                <td>
                    @item.uname
                </td>
                <td>
                    @item.fname
                </td>
                <td>
                    @item.lname
                </td>
                <td>
                    @item.password
                </td>

                <td>
                    @item.qID
                </td>
                <td>
                    @item.answer
                </td>
                <td>
                    @item.type
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { email = item.email })
                 </td>

    <td>
        <img src="~/Files/@item.imgpath" title="image">
    </td>
            </tr>

        }
    </table>
</div>

<p>
     
    @Html.ActionLink("Back to Panel", "AdminPanel")
</p>
