@model WebApplication2.Models.user
@{
    ViewBag.Title = "Forgot Password";
}
@Scripts.Render("~/bundles/jquery")
<script>

        $(document).ready(function () {

            $('#checking').hide();

            $('#b1').click(function () {

                var userName = $('#email').val();

                $('#checking').show();
                $.getJSON("/Home/checkUser?email=" + userName, function (data)
                {
                    $('#checking').hide();
                    if (data == false) {
                        $('#question').text("User doesn't exist");


                    }
                    else {
                        $('#question').text(data + "?");
                    }
                });

            });

        });
</script>
<script>

        $(document).ready(function () {

            $('#b2').click(function () {

                var email = $('#email').val();
                var ans = $('#answer').val();
                $.getJSON("/Home/getPass?email=" + email+ "&ans="+ans, function (data)
                {
                    if(data != "Invalid Answer")
                        $('#pass').text("Your Password is: " + data);
                    else
                        $('#pass').text("Invalid Answer");
                });

            });

        });
</script>
@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    <br />
    <fieldset>
        <legend>Forgot Password?</legend>

        <div class="editor-field">
            @Html.TextBoxFor(m => Model.email, new { @placeholder = "Email", @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => Model.email)
        </div>
        
        <input type="button" id="b1" value="check" />
        <br />
        <div class="">
            <div id="question"></div>
            @Html.TextBoxFor(m => Model.answer, new { @placeholder = "Answer", @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => Model.answer)
        </div>
        <br />
        <div id="pass"></div>

        <p>
            <input type="button" class="mybutton" value="Get Password" id="b2" />
        </p>
    </fieldset>
}



